### 8. 시계열 자료 다루기

In [8]:
import numpy as np
import pandas as pd

- DatetimeIndex

In [9]:
date_str = ["2023, 4, 17"]
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2023-04-17'], dtype='datetime64[ns]', freq=None)

In [10]:
idx = pd.to_datetime(['2023-04-17'], format='%Y-%m-%d')
idx

DatetimeIndex(['2023-04-17'], dtype='datetime64[ns]', freq=None)

In [11]:
date_str = ['2023-04-17','2023-04-18','2023-04-19','2023-04-20','2023-04-21']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21'],
              dtype='datetime64[ns]', freq=None)

In [15]:
df = pd.DataFrame(np.random.randint(60,100,5),
                  columns=['score'], index=idx)
df

            score
2023-04-17     72
2023-04-18     63
2023-04-19     89
2023-04-20     82
2023-04-21     94

In [13]:
# date_range(a,b) : a부터 b까지
pd.date_range('2023-04-01','2023-04-30')

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [16]:
# period : 시작일부터 n일 뒤까지 출력
pd.date_range('4/1/23',periods=30)

DatetimeIndex(['2023-04-01', '2023-04-02', '2023-04-03', '2023-04-04',
               '2023-04-05', '2023-04-06', '2023-04-07', '2023-04-08',
               '2023-04-09', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-15', '2023-04-16',
               '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20',
               '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-04-29', '2023-04-30'],
              dtype='datetime64[ns]', freq='D')

In [17]:
# freq가 'B'이면 주말을 제외하고 period일만큼 출력함
pd.date_range('040123',periods=30,freq='B')

DatetimeIndex(['2023-04-03', '2023-04-04', '2023-04-05', '2023-04-06',
               '2023-04-07', '2023-04-10', '2023-04-11', '2023-04-12',
               '2023-04-13', '2023-04-14', '2023-04-17', '2023-04-18',
               '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-24',
               '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28',
               '2023-05-01', '2023-05-02', '2023-05-03', '2023-05-04',
               '2023-05-05', '2023-05-08', '2023-05-09', '2023-05-10',
               '2023-05-11', '2023-05-12'],
              dtype='datetime64[ns]', freq='B')

In [18]:
# 1년 중 각 월의 주말이 아닌 시작일
pd.date_range('2023-1-1', '2023-12-31', freq='BMS')

DatetimeIndex(['2023-01-02', '2023-02-01', '2023-03-01', '2023-04-03',
               '2023-05-01', '2023-06-01', '2023-07-03', '2023-08-01',
               '2023-09-01', '2023-10-02', '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', freq='BMS')

- resample

In [19]:
ts = pd.DataFrame(np.random.randint(100,1000,100),
                  index=pd.date_range('20230101', periods=100))
ts.head()

              0
2023-01-01  285
2023-01-02  462
2023-01-03  874
2023-01-04  836
2023-01-05  861

In [20]:
# 매 달의 마지막 날
ts.resample('M').first()

              0
2023-01-31  285
2023-02-28  996
2023-03-31  282
2023-04-30  220

In [21]:
# 7일씩 뛰기
ts.resample('W').first()

              0
2023-01-01  285
2023-01-08  462
2023-01-15  111
2023-01-22  484
2023-01-29  451
2023-02-05  327
2023-02-12  993
2023-02-19  101
2023-02-26  980
2023-03-05  413
2023-03-12  201
2023-03-19  747
2023-03-26  309
2023-04-02  880
2023-04-09  677
2023-04-16  146