### 01.

In [43]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [44]:
# 1) 데이터 파일 읽기
filename = 'data/서울시 자치구 년도별 CCTV 설치 현황_221231기준.csv'
columns = '구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년'.split(',')
cctv = pd.read_csv(filename, encoding='euc-kr', thousands=',')
cctv = cctv[columns]
cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,91341,2804,3097,3981,6576,8850,11566,11024,13151,11912,9144,9236
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232

In [45]:
# 2) null 데이터를 먼저 잡는다
cctv.isna().sum().sum()

0

In [46]:
# 3) 최근 증가율
cctv.loc[:,'2020년':'2022년'].sum(axis=1).head()

0    30292
1      626
2      901
3     1379
4     1084
dtype: int64

In [47]:
cctv['최근 증가율'] = cctv.iloc[:,10:].sum(axis=1) / cctv.iloc[:,2:10].sum(axis=1)
cctv['최근 증가율'] = (cctv['최근 증가율'] * 100).round(2)
cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,최근 증가율
0,계,91341,2804,3097,3981,6576,8850,11566,11024,13151,11912,9144,9236,49.62
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291,46.23
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137,53.54
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334,93.94
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232,36.58

In [48]:
# 4) Selection and Rename
cctv = cctv[['구분', '총계', '최근 증가율']]
cctv.head()

    구분     총계  최근 증가율
0    계  91341   49.62
1  종로구   1980   46.23
2  중 구   2584   53.54
3  용산구   2847   93.94
4  성동구   4047   36.58

In [49]:
cctv.rename(columns={'구분':'구별', '총계':'CCTV 댓수'}, inplace=True)
cctv.head()

    구별  CCTV 댓수  최근 증가율
0    계    91341   49.62
1  종로구     1980   46.23
2  중 구     2584   53.54
3  용산구     2847   93.94
4  성동구     4047   36.58

In [50]:
# 5) Filtering
cctv.drop([0], inplace=True)
cctv.head()

    구별  CCTV 댓수  최근 증가율
1  종로구     1980   46.23
2  중 구     2584   53.54
3  용산구     2847   93.94
4  성동구     4047   36.58
5  광진구     3480   46.53

In [51]:
# 6) 구 이름에서 공백 지우기
cctv.구별 = cctv.구별.str.replace(' ','')
cctv.head(3)

    구별  CCTV 댓수  최근 증가율
1  종로구     1980   46.23
2   중구     2584   53.54
3  용산구     2847   93.94

In [52]:
# 7) csv파일에 저장
cctv.to_csv('data/cctv2.csv', index=False)
df = pd.read_csv('data/cctv2.csv')
df.head()

    구별  CCTV 댓수  최근 증가율
0  종로구     1980   46.23
1   중구     2584   53.54
2  용산구     2847   93.94
3  성동구     4047   36.58
4  광진구     3480   46.53