### 인구소멸 위기 지역

In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('data/서울시인구 copy.txt')
df.head()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 20

In [ ]:
df = pd.read_csv('data/주민등록인구집계현황.csv', encoding='euc-kr')
df.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,10~19세 (여),20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여)
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,647283,821150,904073,1121889,1133428,878494,437251,252711,44184,1369
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2186,2503,2433,3525,5090,6439,3653,2408,411,13
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,778,937,848,1244,1583,1805,1054,739,126,6
3,2022,12,읍면동,경기도 가평군 북면,3815,108,174,230,223,357,...,93,87,99,154,290,511,294,216,39,1
4,2022,12,읍면동,경기도 가평군 상면,5669,140,259,482,389,533,...,112,151,166,240,515,737,389,244,39,0

In [ ]:
df.isna().sum().sum()

0

In [ ]:
df['가임기여성인구수'] = df['20~29세 (여)'] + df['30~39세 (여)']
df.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여),가임기여성인구수
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,821150,904073,1121889,1133428,878494,437251,252711,44184,1369,1725223
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2503,2433,3525,5090,6439,3653,2408,411,13,4936
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,937,848,1244,1583,1805,1054,739,126,6,1785
3,2022,12,읍면동,경기도 가평군 북면,3815,108,174,230,223,357,...,87,99,154,290,511,294,216,39,1,186
4,2022,12,읍면동,경기도 가평군 상면,5669,140,259,482,389,533,...,151,166,240,515,737,389,244,39,0,317

In [ ]:
df['60세이상노령인구'] = df['60~69세'] + df['70~79세'] + df['80~89세'] + df['90~99세'] + df['100세 이상']
df.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여),가임기여성인구수,60세이상노령인구
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,904073,1121889,1133428,878494,437251,252711,44184,1369,1725223,3023136
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2433,3525,5090,6439,3653,2408,411,13,4936,24979
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,848,1244,1583,1805,1054,739,126,6,1785,6953
3,2022,12,읍면동,경기도 가평군 북면,3815,108,174,230,223,357,...,99,154,290,511,294,216,39,1,186,2058
4,2022,12,읍면동,경기도 가평군 상면,5669,140,259,482,389,533,...,166,240,515,737,389,244,39,0,317,2792

In [ ]:
df['인구소멸위기'] = df['가임기여성인구수'] / df['60세이상노령인구']
df.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여),가임기여성인구수,60세이상노령인구,인구소멸위기
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,1121889,1133428,878494,437251,252711,44184,1369,1725223,3023136,0.570673
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,3525,5090,6439,3653,2408,411,13,4936,24979,0.197606
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,1244,1583,1805,1054,739,126,6,1785,6953,0.256724
3,2022,12,읍면동,경기도 가평군 북면,3815,108,174,230,223,357,...,154,290,511,294,216,39,1,186,2058,0.090379
4,2022,12,읍면동,경기도 가평군 상면,5669,140,259,482,389,533,...,240,515,737,389,244,39,0,317,2792,0.113539

In [ ]:
df = df[(df.행정구역구분명 == '시군') | (df.행정구역구분명 == '구')]
df.head()

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여),가임기여성인구수,60세이상노령인구,인구소멸위기
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,3525,5090,6439,3653,2408,411,13,4936,24979,0.197606
8,2022,12,시군,경기도 고양시,1075202,73997,101074,140606,142572,172996,...,88876,101197,70061,35492,24019,4054,108,140519,246509,0.570036
9,2022,12,구,경기도 고양시 덕양구,487874,36231,41419,60469,70476,78293,...,38962,42695,32981,17538,11022,1750,44,64639,116439,0.555132
31,2022,12,구,경기도 고양시 일산동구,296590,18739,28371,41361,37910,47825,...,25128,29278,18955,8891,6323,1181,28,39716,65674,0.604745
44,2022,12,구,경기도 고양시 일산서구,290738,19027,31284,38776,34186,46878,...,24786,29224,18125,9063,6674,1123,36,36164,64396,0.561588

In [ ]:
df = df[['행정구역구분명', '행정구역명', '가임기여성인구수', '60세이상노령인구', '인구소멸위기']]
df.head()

   행정구역구분명          행정구역명  가임기여성인구수  60세이상노령인구    인구소멸위기
1       시군       경기도 가평군       4936      24979  0.197606
8       시군       경기도 고양시     140519     246509  0.570036
9        구   경기도 고양시 덕양구      64639     116439  0.555132
31       구  경기도 고양시 일산동구      39716      65674  0.604745
44       구  경기도 고양시 일산서구      36164      64396  0.561588

In [ ]:
df.sort_values(by='인구소멸위기', ascending=True, inplace=True)
df.head(10)

    행정구역구분명         행정구역명  가임기여성인구수  60세이상노령인구    인구소멸위기
1        시군      경기도 가평군       4936      24979  0.197606
391      시군      경기도 양평군       9553      47974  0.199129
417      시군      경기도 연천군       3392      16705  0.203053
404      시군      경기도 여주시      10399      38716  0.268597
558      시군      경기도 포천시      13604      49130  0.276898
156      시군     경기도 동두천시       9316      28663  0.325018
328      시군      경기도 안성시      20043      52478  0.381931
363       구  경기도 안양시 만안구      30705      63628  0.482571
464       구  경기도 용인시 처인구      30288      62462  0.484903
218       구  경기도 성남시 중원구      27357      55095  0.496542