### 인터파크 - 베스트셀러

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

- Step 1

In [2]:
# http://book.interpark.com/display/collectlist.do?_method=BestsellerHourNew201605&bestTp=1&dispNo=028
url = 'http://book.interpark.com/display/collectlist.do?_method=BestsellerHourNew201605&bestTp=1&dispNo=028'
res = requests.get(url)
soup = BeautifulSoup(res.text)

- Step 2

In [3]:
lis = soup.select('.rankBestContentList > ol > li')
len(lis)

15

- Step 3

In [4]:
li = lis[0]

- rank
    - rankBtn_ctrl rkNum_B01 (1 ~ 9위)
    - rankBtn_ctrl rkNum_M01, rankBtn_ctrl rkNum_M03 (10 ~ 15위)

In [5]:
li1, li13 = lis[0], lis[12]
li1.select('.rankBtn_ctrl')

In [6]:
li13.select('.rankBtn_ctrl')

In [7]:
li1.select_one('.rankBtn_ctrl')['class']

['rankBtn_ctrl', 'rkNum_B01']

In [8]:
rank_data = li.select('.rankBtn_ctrl')
if len(rank_data) == 1:
    rank = int(rank_data[0]['class'][-1][-1])
else:
    rank = int(rank_data[0]['class'][-1][-1] + rank_data[1]['class'][-1][-1])

In [9]:
# 제목
title = li.select_one('.itemName').get_text().strip()
title

'세이노의 가르침'

In [10]:
# 저자
author = li.select_one('.author').get_text().strip()
author

'세이노'

In [11]:
# 출판사
company = li.select_one('.company').get_text().strip()
company

'데이원'

In [12]:
# 가격
price = li.select_one('.price > em').get_text().strip()
price = int(price.replace(',',''))
price

6480

- Step 4

In [13]:
lines = []
for li in lis:
    rank_data = li.select('.rankBtn_ctrl')
    if len(rank_data) == 1:
        rank = int(rank_data[0]['class'][-1][-1])
    else:
        rank = int(rank_data[0]['class'][-1][-1] + rank_data[1]['class'][-1][-1]) 
    title = li.select_one('.itemName').get_text().strip()
    author = li.select_one('.author').get_text().strip()
    company = li.select_one('.company').get_text().strip()
    price = li.select_one('.price > em').get_text().strip()   
    lines.append({'순위':rank, '제목':title, '저자':author, '출판사':company, '가격':price})

In [14]:
pd.DataFrame(lines)

,순위,제목,저자,출판사,가격
0,1,세이노의 가르침,세이노,데이원,"6,480"
1,2,모든 삶은 흐른다,로랑스 드빌레르/이주영 역,피카(FIKA),"15,120"
2,3,사장학개론,김승호,스노우폭스북스,"22,500"
3,4,건강과 다이어트를 동시에 잡는 7대 3의 법칙 채소·과일식,조승우,바이북스,"17,100"
4,5,흔한남매 13,"흔한남매, 백난도/유난희 그림/흔한컴퍼니 감수",미래엔아이세움,"13,050"
5,5,장하준의 경제학 레시피,장하준,부키,"16,200"
6,5,고래,천명관,문학동네,"13,500"
7,8,부자 아빠 가난한 아빠 1(20주년 특별 기념판),로버트 기요사키/안진환 역,민음인,"15,300"
8,9,마법천자문 58: 온 정성과 힘을 다한다! 최선,유대영/정수영 그림/강용철 감수,아울북,"12,600"
9,9,나의 돈 많은 고등학교 친구,송희구,서삼독,"16,200"
10,9,요괴어사,"설민석, 원더스",단꿈아이,"16,200"
11,9,처음 배우는 주식 차트,친절한 재승씨,알에이치코리아,"34,200"
12,9,호퍼 A-Z,얼프 퀴스터/박상미 역,한길사,"19,800"
13,9,"비트코인, 그리고 달러의 지정학",오태민,거인의정원,"49,500"
14,9,만일 내가 인생을 다시 산다면(30만 부 기념 리커버 에디션),김혜남,메이븐,"15,480"