In [92]:
import requests
from urllib.parse import quote
import pandas as pd
from bs4 import BeautifulSoup

In [93]:
url = 'https://www.melon.com/chart/'
result = requests.get(url)
header = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36'}
result = requests.get(url, headers=header)
soup = BeautifulSoup(result.text, 'html.parser')

In [95]:
trs = soup.select('tbody > tr')
len(trs)

100

In [96]:
tr = trs[0]

In [97]:
rank = tr.select_one('.rank ').get_text().split('\n')[0].strip()
rank

'1'

In [99]:
img = tr.select_one('.image_typeAll > img')['src']
img

'https://cdnimg.melon.co.kr/cm2/album/images/112/11/297/11211297_20230410151046_500.jpg/melon/resize/120/quality/80/optimize'

In [100]:
title = tr.select_one('.ellipsis.rank01').get_text().strip()
title

'I AM'

In [102]:
artist = tr.select_one('.ellipsis.rank02').get_text().strip()
artist

'IVE (아이브)IVE (아이브)'

In [104]:
album = tr.select_one('.ellipsis.rank03').get_text().strip()
album

"I've IVE"

In [106]:
line = []
for tr in trs:
    rank = tr.select_one('.rank ').get_text().split('\n')[0].strip()
    img = tr.select_one('.image_typeAll > img')['src']
    title = tr.select_one('.ellipsis.rank01').get_text().strip()
    artist = tr.select_one('.ellipsis.rank02').get_text().strip()
    album = tr.select_one('.ellipsis.rank03').get_text().strip()
    line.append({'rank':rank, 'img':img, 'title':title, 'artist':artist, 'album':album})
df1 = pd.DataFrame(line)
df1.tail()

,rank,img,title,artist,album
95,96,https://cdnimg.melon.co.kr/cm2/album/images/11...,Salty & Sweet,aespaaespa,MY WORLD - The 3rd Mini Album
96,97,https://cdnimg.melon.co.kr/cm2/album/images/11...,Cookie,NewJeansNewJeans,NewJeans 1st EP 'New Jeans'
97,98,https://cdnimg.melon.co.kr/cm2/album/images/11...,Zero,NewJeansNewJeans,Zero
98,99,https://cdnimg.melon.co.kr/cm2/album/images/11...,Welcome To MY World (Feat. nævis),aespaaespa,MY WORLD - The 3rd Mini Album
99,100,https://cdnimg.melon.co.kr/cm2/album/images/11...,Dreamers [Music from the FIFA World Cup Qatar ...,"정국, 방탄소년단정국, 방탄소년단",Dreamers [Music from the FIFA World Cup Qatar ...

In [107]:
from datetime import datetime
now = datetime.now()
ymd = now.strftime('%Y%M%d')
hh = now.strftime('%H')

In [108]:
df1.to_csv(f'data/멜론_{ymd}{hh}.csv', index=False)