In [8]:
import requests
from urllib.parse import quote
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [9]:
url ='https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&sop=and&sst=subscriber_cnt&sod=desc&sfl=&stx=&sca=&page=1'
res = requests.get(url)
soup = BeautifulSoup(res.text)
trs = soup.select('#list-skin > form:nth-child(4) > table > tbody > tr')

In [10]:
trs = soup.select('#list-skin > form:nth-child(4) > table > tbody > tr')
len(trs)

100

In [11]:
driver = webdriver.Chrome('C:/Users/YONSAI/Downloads/chromedriver.exe')
driver.get(url)

In [12]:
soup = BeautifulSoup(driver.page_source)
trs = soup.select('.aos-init')
tr = trs[0]

In [17]:
def convert(s):
    s = s.replace('억','').replace('개','').replace(',','').replace('만','0000')
    return int(s)

lines = []
for tr in trs:
    rank = int(tr.select_one('.rank').get_text().strip())
    category = tr.select_one('.category').get_text().strip()[1:-1]
    channel = tr.select_one('.subject > h1 > a').get_text().strip()
    subscriber_cnt = convert(tr.select_one('.subscriber_cnt').get_text().strip())
    view_cnt = convert(tr.select_one('.view_cnt').get_text().strip())
    video_cnt = convert(tr.select_one('.video_cnt').get_text().strip())
    lines.append({
        '순위': rank, '카테고리':category, '채널명': channel, '구독자수': subscriber_cnt, '조회수': view_cnt,
        '비디오': video_cnt
    })

df1 = pd.DataFrame(lines)
df1.tail(7)

     순위       카테고리                 채널명     구독자수         조회수    비디오
93   94   음악/댄스/가수          ASTRO 아스트로  5130000   639100000    646
94   95      TV/방송            MBCdrama  4940000  5779930000  60148
95   96     키즈/어린이         뽀로로(Pororo)  4910000  6878710000   4182
96   97  음식/요리/레시피                 떵개떵  4890000  2990060000   4924
97   98     키즈/어린이          ToyMart TV  4860000  1994040000    695
98   99    애완/반려동물     SBS TV동물농장x애니멀봐  4840000  4654750000   4200
99  101        미분류  매일맛나 delicious day  4780000   488910000    328

In [ ]:
import time
lines = []
driver = webdriver.Chrome('C:/Users/YONSAI/Downloads/chromedriver.exe')
for page in range(1,11):
    url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&sop=and&sst=subscriber_cnt&sod=desc&sfl=&stx=&sca=&page=' + str(page)
    driver.get(url)
    time.sleep(2)
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    trs = soup.select('.aos-init')
    for tr in trs:
        rank = int(tr.select_one('.rank').get_text().strip())
        category = tr.select_one('.category').get_text().strip()[1:-1]
        channel = tr.select_one('.subject > h1 > a').get_text().strip()
        subscriber_cnt = convert(tr.select_one('.subscriber_cnt').get_text().strip())
        view_cnt = convert(tr.select_one('.view_cnt').get_text().strip())
        video_cnt = convert(tr.select_one('.video_cnt').get_text().strip())
        lines.append({
            '순위': rank, '카테고리':category, '채널명': channel, '구독자수': subscriber_cnt, '조회수': view_cnt,
            '비디오': video_cnt
        })
driver.close()

In [ ]:
df = pd.DataFrame(lines)
df.shape

(1000, 6)

In [ ]:
df.tail()

,순위,카테고리,채널명,구독자수,조회수,비디오
995,996,취미/라이프,DanoTV,730000,158420000,642
996,997,키즈/어린이,코코몽 COCOMONG TV - Cartoon & Song For Kids,730000,951630000,1420
997,998,음악/댄스/가수,Yuni Marimba 유니 마림바,730000,105130000,147
998,1001,미분류,김지윤의 지식Play,730000,59060000,186
999,1000,미분류,성창경TV,730000,1036110000,16348

In [19]:
lines = []
for tr in trs:
    rank = int(tr.select_one('.rank').get_text().strip())
    category = tr.select_one('.category').get_text().strip()[1:-1]
    channel = tr.select_one('.subject > h1 > a').get_text().strip()
    subscriber_cnt = convert(tr.select_one('.subscriber_cnt').get_text().strip())
    view_cnt = convert(tr.select_one('.view_cnt').get_text().strip())
    video_cnt = convert(tr.select_one('.video_cnt').get_text().strip())
    if rank <= 20:
        lines.append({
            '순위': rank, '카테고리':category, '채널명': channel, '구독자수': subscriber_cnt, '조회수': view_cnt,
            '비디오': video_cnt
    })

df1 = pd.DataFrame(lines)
df1.tail(7)

,순위,카테고리,채널명,구독자수,조회수,비디오
13,13,음악/댄스/가수,JFlaMusic,17600000,3786310000,317
14,15,음악/댄스/가수,TWICE,15800000,4860220000,1092
15,16,음악/댄스/가수,BIGBANG,15000000,7753850000,776
16,17,음식/요리/레시피,Hongyu ASMR 홍유,14900000,4979120000,632
17,18,키즈/어린이,Boram Tube ToysReview [보람튜브 토이리뷰],14600000,5006380000,607
18,19,키즈/어린이,서은일상이야기,14000000,2574480000,696
19,20,키즈/어린이,BIBO와 장난감,12900000,3166790000,183

In [20]:
url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube'
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')
lis = soup.select('ul > li')
len(lis)

68

In [26]:
li = lis[0]
name = li.find('a').get_text().strip()
href = li.find('a')['href']
name, href

('', '#')